html,body{ margin:0; padding:0; height:100%; width:100%; }

.bg-color {
	 background-color:#17322b;
	 background-repeat: no-repeat;
  	 background-attachment: fixed;
     background-position: center center; 
     background-size: 100%;
}

.logo-center {
	margin: auto;
    width: 80%;
    padding: 50% 0;
}

.logo-center-2 {
	margin: auto;
    width: 75%;
    padding: 20% 0;
}

.login-bg {
	background: url('../img/bg.png');
	 background-repeat: no-repeat;
  	 background-attachment: fixed;
     background-position: center center; 
     background-size: 100%;


}

.bgless {
	background-color: transparent;
	border-width: large;
    color: white;
}

.title-head {
	text-align: center;
	color: white;
	padding: 3%;
}

.text-center {
	text-align: center;
}

.shdw {
    box-shadow: 2px 2px 4px #0f0f0f;
} 
.announcement {
}

.border-try {
	border: 
}

.carousel {
  width: auto;
  max-width: 650px !important;
  max-height: 700px !important;
}

.menu_carousel{
	margin-top: 8%;
}

.menu_logo{
    margin-left: 38%;
    margin-top: 2%;
}

.menu_scroll{
	overflow-y:hidden;
	position: fixed;
}

.panel, .panel_image{
	max-height: 180px;

}

.pan1{
  margin: 0 auto;
}

.border-try {
	position: fixed;
   	top: 45%;
   	left: 70%;
   	transform: translate(-50%, -50%);
}


.btn-clr {
	background-color: #17322b;
	color: #fff;
	padding: 10px 15px;
}
.forgot {
	color: #fff;
}

.cardlist {
	margin-top: 50%;
	margin-left: 10%;
}

/*added css*/

.img-size {
	min-height: 340px;
}

.img-pos {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.bot-stick {
    position: absolute;
    width: 50%;
    bottom: 10px;
    left: 25%;
    text-align: center;
    /*border: 3px solid #8AC007;*/
} 

.food_list{
  width: 80% !important;
  margin-left: 10%;
  margin-top: 5%;
}

.prodImg{
  max-height: 100px !important;
}

.cart{
      max-height: 50px;

}

/* header nav*/

.nav-color {
  background: #082520 !important;
  padding-top: 10px;
  border: 0px solid #ccc; 
}

.navbar-brand {
  padding: 0px;
  margin-top: 7px;
}
.navbar-brand>img {
  height: 100%;
margin-top: 10px;
  padding: 15px;
  width: auto;
}

.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.brand-centered .navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-toggle {
    z-index: 1;
}

.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
  top: 50%;
  display: block;
  position: relative;
  height: auto;
  transform: translate(0,-50%);
}

.no-gutter{
  margin-right: 0;
  margin-left: 0;
}

.no-gutter > [class*="col-"]{
  padding-right: 0;
  padding-left: 0;
}

.imageAds{
  width: auto;
      margin-left: -40% !important;
}